.wrapper {
    margin-top: var(--space-12x);
  }
  
  .bgWrap {
    position: fixed;
    overflow: hidden;
    z-index: -1;
  }
  
  .hero {
    font-size: 52px;
    line-height: 1.15;
    letter-spacing: -0.05em;
    font-weight: 500;
    text-align: center;
    margin: 0 0 25px;
  }
  
  .hero {
    background: -webkit-linear-gradient(145.34deg, #74a5ff 25.75%, #0d5294 79.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .info {
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-8x);
    color: var(--brand);
  }
  
  .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    margin: auto auto 30px;
    color: var(--secondary-color);
    max-width: 355px;
  }
  
  .description-separator {
    height: 24px;
    width: 1px;
    background: var(--secondary-color);
    margin: 0 var(--space-4x); 
  }
  
  .info :global(p) {
    margin: 0;
  }
  
  @media (min-width: 768px) {
    .hero {
      font-size: 100px;
      line-height: 1;
      font-weight: 800;
      margin: 0 0px 40px;
    }
  
    .info {
      font-size: 24px;
      margin-bottom: 80px;
    }
  
    .description {
      font-size: var(--space-8x);
      max-width: 531px;
      margin: 40px auto;
    }
  }

  .faqBC {
    background: var(--sidebar);
    position: relative;
    transition: all 0.75s cubic-bezier(0.645, 0.045, 0.355, 1), transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .faq {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    z-index: 1;
  }
  
  .faqContainer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
  }
  
  .faqItem {
    background-color: var(--sidebar);
    border-radius: 12px;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 33px 40px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 1000px;
    cursor: pointer;
  }
  
  .faqItemLeft {
    flex: 85%;
    display: flex;
    align-items: left;
    justify-content: flex-start;
  }
  
  .faqItemRight {
    flex: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .faqItemTitle {
    color: var(--color-text-main);
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
  }
  
  .faqItemAnswer {
    width: 90%;
    max-width: 1080px;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    margin-bottom: 60px;
  }
  
  .faqItemAnswerText {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-main);
    margin-top: 30px;
    margin-left: 60px;
    text-align: left;
    margin-right: 150px;
  }
  
  .faqArrowSVG {
    transition: all 0.3s;
  }
  
  .faqArrowSVGActive {
    transform: rotate(90deg);
    transition: all 0.3s;
  }
  @media only screen and (max-width: 1100px) {
    .faqItemTitle {
      font-size: 24px;
    }
    .faqItemNumber {
      font-size: 40px;
    }
    .faqItemAnswerTitle {
      font-size: 24px;
    }
    .faqItemAnswerText {
      font-size: 24px;
    }
  }
  @media only screen and (max-width: 800px) {
    .faqItemTitle {
      font-size: 22px;
    }
    .faqItem {
      padding: 33px 20px;
      width: calc(100% - 40px);
    }
    .faqItemAnswerTitle {
      font-size: 22px;
    }
    .faqItemAnswerText {
      text-align: left;
      font-size: 18px;
      margin-right: 50px;
      margin-left: 30px;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .faqItemTitle {
      font-size: 18px;
    }
    .faqItemNumber {
      font-size: 26px;
    }
    .faqItemAnswerTitle {
      font-size: 18px;
    }
    .faqItemAnswerText {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .faqItemTitle {
      font-size: 16px;
    }
  }
  
  